.App {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.bg-dark {
  background-color: #343a40;
  color: #f8f9fa;
}

.bg-dark .card {
  border-color: #6c757d;
}

.bg-light {
  background-color: #f8f9fa;
  color: #212529;
}

.nav-link {
  color: #343a40 !important;
}

.navbar {
  transition: background-color 0.3s;
}

.bg-dark .navbar {
  background-color: #212529 !important;
}

.bg-dark .nav-link, .bg-dark .navbar-brand {
  color: #f8f9fa !important;
}

.profile-picture {
  margin-bottom: 20px;
}